absl-py
anyio
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
astunparse
attrs
Babel
backcall
beautifulsoup4
bleach
cachetools
certifi
cffi
chardet
charset-normalizer
chromedriver-binary
click
comm
config
debugpy
decorator
defusedxml
diagram
diagrams
dnspython
entrypoints
exceptiongroup
executing
Faker
fastjsonschema
ffmpy
flatbuffers
fqdn
gast
gevent
google-auth
google-auth-oauthlib
google-pasta
graphviz
greenlet
grpcio
h11
h5py
hashID
httpcore
httpx
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
isoduration
jedi
Jinja2
json5
jsonpointer
jsonschema
jupyter-events
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab_server
keras
libclang
LinkChecker
linkify-it-py
litestar
Markdown
markdown-it-py
MarkupSafe
matplotlib-inline
mdit-py-plugins
mdurl
mistune
ml-dtypes
msgspec
multidict
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy
oauthlib
ochre
opt-einsum
orionsdk
outcome
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
platformdirs
polyfactory
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyasn1
pyasn1-modules
pycairo @ file:///private/tmp/py3cairo-20231021-6574-xwz2b1/pycairo-1.25.1
pycparser
pyfiglet
Pygments
PyGObject
pyperclip
pyrsistent
PySocks
python-dateutil
python-json-logger
pytz
PyYAML
pyzmq
requests
requests-oauthlib
rfc3339-validator
rfc3986-validator
rich
rich-click
rsa
selenium
Send2Trash
six
sniffio
sortedcontainers
soupsieve
stack-data
stransi
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
tensorflow-macos
termcolor
terminado
textual
textual-paint
tinycss2
tomli
tornado
tqdm
traitlets
trio
trio-websocket
typed-ast
typing_extensions
tzdata
uc-micro-py
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
wget
wrapt
wsproto
xmltodict
zipp
zope.event
zope.interface
